# Gradle
.gradle/
build/
bin/
out/

# Eclipse
.classpath
.project
.settings/

# IDEA
.idea/
*.iml
*.ipr
*.iws
run/

# VS Code
.vscode/

# MacOS
.DS_Store

# Mod specific
run/
logs/
crash-reports/

# Local JDK
jdk21/
